$light-green: #a9c5ba;
$light-brown: #707070;
$black: #000;
$white: #fff;

// Font-sizing
$title-size: 35px;
$subtitle-size: 30px;
$paragraph-size: 20px;
$btn-large: 18px;
$btn-medium: 16px;
$small-size: 14px;
