<div class="container signUpForm-wrapper">
    <div class="d-flex justify-content-end">
        <h1>Invision</h1>
    </div>
    <div class="d-flex flex-column ">
        <div class="d-flex justify-content-center">
            <h3>Getting Started</h3>
        </div>
        <div class="row mt-2">
            <form class="w-100 text-center">
                <mat-form-field class="w-75">
                    <mat-label>Full Name</mat-label>
                    <input type="text" matInput [formControl]="fullNameFormControl"
                        placeholder="Ex. Steve Hanson" [errorStateMatcher]="matcher">
                  
                    <mat-error *ngIf="fullNameFormControl.hasError('required')">
                        Name can not be <strong>empty</strong>
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="w-75">
                    <mat-label>Users name or Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        placeholder="Ex. example@invision.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email can not be <strong>empty</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-75">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" placeholder="*****" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                        Password length must be at least 6
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password can not be <strong>empty</strong>
                    </mat-error>
                </mat-form-field>
            
                <div class="d-flex flex-column col-12 align-items-center mt-3">
                    <button type="submit" class="signUp-button">Sign up</button>

                    <div class="d-flex flex-row mt-3 mb-2 w-50">
                        <div class="line">
                            <span>Or</span>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column col-12 align-items-center mt-3">
                    <button class="google-button">
                        <img src="assets/images/google.svg" class="mr-3"/>
                        Sign up with Google
                    </button>
                    
                    <div class="mt-4">
                        <span>By signing up, you agree to <b>Invision</b><br />
                        <a href="#">Terms of Conditions</a> and <a href="#">Privacy Policy</a></span>
                    </div>
                    
                    <div class="mt-4">
                        <span>Already on <b>Invision</b>? <a routerLink="/sign-in">Log in</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>