<div>
    <ngb-carousel>
        <ng-template ngbSlide class="carousel-inner" *ngFor="let carouselObj of carouselArray">
            <div class="picsum-img-wrapper">
                <img class="js-carouselImg" src="{{carouselObj.imagePath}}">
            </div>
            <div class="carousel-text">
                <h3 class="js-carouselTitle">{{carouselObj.title}}</h3>
                <p class="js-carouselDescription">{{carouselObj.description}}</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>