// ========================================================
//               ======= DEFAULT CONFIG =======
// ========================================================

* {
  overflow-y: visible;
}

// ========================================================
//              ======= DEFAULT CONFIG END =======
// ========================================================

// ========================================================
//                   ======= FONTS =======
// ========================================================

// - Avenir Heavy
@font-face {
  font-family: "Avenir Heavy";
  src: url(assets/fonts/avenir-heavy.ttf) format("truetype");
}

// - Lato Regular
@font-face {
  font-family: "Lato Regular";
  src: url(assets/fonts/lato-regular.ttf) format("truetype");
}

// - Muli Regular
@font-face {
  font-family: "Muli Regular";
  src: url(assets/fonts/muli.ttf) format("truetype");
}

// - Muli Bold
@font-face {
  font-family: "Muli Bold";
  src: url(assets/fonts/muli-bold.ttf) format("truetype");
}

// ========================================================
//                   ======= FONTS END =======
// ========================================================
