@import "./app/shared/variables";

// ========================================================
//               ======= DEFAULT CONFIG =======
// ========================================================

html {
  overflow-y: scroll !important;
}

// ========================================================
//              ======= DEFAULT CONFIG END =======
// ========================================================

// ========================================================
//                   ======= FONTS =======
// ========================================================

// - Avenir Heavy
@font-face {
  font-family: $avenir-heavy;
  src: url("assets/fonts/avenir-heavy.ttf") format("truetype");
  font-weight: 900;
}

// - Lato Regular
@font-face {
  font-family: $lato-regular;
  src: url("assets/fonts/lato-regular.ttf") format("truetype");
  font-weight: 400;
}

// - Muli Regular
@font-face {
  font-family: $muli-regular;
  src: url("assets/fonts/muli.ttf") format("truetype");
  font-weight: 400;
}

// - Muli Bold
@font-face {
  font-family: $muli-bold;
  src: url("assets/fonts/muli-bold.ttf") format("truetype");
  font-weight: 900;
}

// ========================================================
//                   ======= FONTS END =======
// ========================================================

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Muli Regular", Roboto, sans-serif;
}
